.contenedor2 {
    width: fit-content;
    margin: auto;
    background-color: white;
    padding: 3em;
    border-radius: 0 0 2em 2em;
}

.contenedor2 center img {
    z-index: 4;
    width: 50px;
}

.cuerpo {
    margin: 2em auto;
    display: grid;
    grid-template-columns: 15% 85%;
    width: 60%;
}

.opciones {
    display: flex;
    flex-direction: column;
}

.opciones span {
    text-align: center;
    background-color: white;
    border: none;
    padding: 2em;
}

.opciones span:hover {
    background-color: skyblue;
    cursor: pointer;
}

.seleccionado {
    background-color: skyblue !important;
    border-right: none !important;
}

.contenidos {
    width: 100%;
    height: 100%;
    background: skyblue;
    border-radius: 0 1em 1em 0;
    border: none;
}

.componente1 {
    margin: 2em;
    background-color: white;
    padding: 3em;
    border-radius: 2em;
}

.componente3 {
    margin: 2em;
    background-color: white;
    padding: 3em;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 70% 30%;
}

.datos_profesor {
    height: fit-content;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid orange;
    border-radius: 2em;
}

.edicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    margin: 1em;
    background-color: white;
    border-radius: 1em;
    font-size: 1em;
    row-gap: 0.5em;
}

.inter {
    background-color: skyblue;
    border-radius: 1em;
    padding-left: 10px;
}

.inter a {
    border: none;
    width: fit-content;
    height: fit-content;
    padding-right: 10px;
    color: yellow;
}

.inter a:hover {
    cursor: pointer;
}

.asignate{
    color: skyblue;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.asignate:hover{
    background-color: skyblue;
    color: white;
    cursor: pointer;
    border-radius: 1em;
}

.asignate img{
    width: 1.5rem;
    vertical-align: middle;
}